# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.xcuserstate
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# Сборка и IPA
*.ipa
*.dylib
*.log

# Windows (раз ты на ней работаешь)
Thumbs.db
Desktop.ini
